.gallery {
    position: relative;
    display: block;
    width: 320px;
    box-shadow: 0 0 8px 0 #0004;
}
.gallery:hover {
    .title {
        padding: 20px 0;
        background-color: rgba(0, 0, 0, 0.8);
    }
}

.image {
    position: relative;
}

.title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px 0;
    transition-property: padding, background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    font-size: 1rem;
    font-weight: bold;
}